@model ScheduleViewModel

@{
    ViewBag.Title = "Create Schedule";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="row">
    <div class="content-header col-md-12">
        <h3 class="pull-right">Create SChedule</h3>
    </div>

</div>
<div class="row control-background">
    <div class="col-md-6">
        @using (Html.BeginForm())
    {
        <div class="form-horizontal">

            @Html.ValidationSummary(false, "", new { @class = "text-danger" })

            <div class="form-group">
                @Html.LabelFor(model => model.Mentee, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-12">

                    @Html.DropDownListFor(model => model.Mentee.UserId, ViewBag.UserId as SelectList, "--Select Mentee--", new { @class = "custom-select"})
                    @Html.ValidationMessageFor(model => model.Mentee.UserId, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.Date, "date", new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Time, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.Time, "time", new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Time, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Details, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-12">
                    @Html.TextAreaFor(model => model.Details, new { @class = "form-control", id = "exampleTextArea", placeholder = "Give details of this schedule" })
                    @Html.ValidationMessageFor(model => model.Details, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </div>
        </div>
}

    </div>
  
</div>

@section scripts{
    <script src="~/Library/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Library/jquery-validation/dist/jquery.validate.min.js"></script>
}
