@model MentorProfileViewModel

@{
    ViewBag.Title = "UserProfile";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="row">
    <div class="content-header col-md-12">
        <h3 class="pull-right">@Model.Mentor.User.FirstName's Profile</h3>
    </div>
</div>

<div class="container-fluid control-background">
    <div class="row">
        <div class="col-md-4 panes">

            <div class="display-pix">
                <img src="~/Content/Images/42.jpg" class="img-responsive fill" />
            </div>
            <div class="pane-body">
                <h5 class=" pane-title"><i class="fa fa-fw fa-user"></i>@Model.Mentor.User.FirstName @Model.Mentor.User.LastName</h5>
                <hr />
                <p class="p-lead text-primary"><i class="fa fa-fw fa-envelope"></i> @Model.Mentor.User.Email</p>
                <hr />
                <p class="p-lead text-primary"><i class="fa fa-fw fa-tag"></i>Category: <small class="text-muted"> @Model.Mentor.Category </small></p>
            </div>
        </div>

        <div class="col-md-7">
            <div class="row">
                <div class="col-md-7 panes">
                    <h5 class="pane-title"><i class="fa fa-fw fa-lg fa-home"></i></h5>
                    <hr />
                    <p class="p-lead text-muted">@Model.Mentor.Address </p>
                </div>

                <div class="col-md-4 panes">
                    <h5 class="pane-title">
                        @if (Model.Mentor.Gender == "Female")
                        {
                            <i class="fa fa-lg fa-fw fa-female"></i>

                        }

                        else
                        {
                            <i class="fa fa-lg fa-fw fa-male"></i>
                        }
                        Gender
                    </h5>
                    <hr />
                    <p class="p-lead">@Model.Mentor.Gender</p>

                </div>
            </div>
            <div class="row">
                <div class="col-md-6 panes">
                    <h5 class="pane-title"><i class="fa fa-fw fa-lg fa-phone"></i>Mobile Number</h5>
                    <hr />
                    <p class="p-lead text-muted">@Model.Mentor.MobileNo</p>
                </div>

                <div class="col-md-4 panes">
                    <h5 class="pane-title"><i class="fa fa-lg fa-fw fa-calendar"></i> Birthday</h5>
                    <hr />
                    <p class="p-lead">@Model.Mentor.Birthday.ToShortDateString()</p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-9 panes">
                    <h5 class="pane-title"><i class="fa fa-lg fa-fw fa-book"></i>Bio</h5>
                    <hr />
                    <p class="p-lead">@Model.Mentor.Bio</p>
                </div>
                <div class="col-md-2">
                    <a class=" btn btn-round red" href="@Url.Action("edit", "mentor")"><i class="fa fa-2x fa-pencil"></i></a>
                </div>
            </div>
            <div class="row">

            </div>
        </div>
    </div>

</div>

<div>
    <h5 class="h-30">Mentees</h5>
    <hr />
</div>

<div class="container-fluid control-background">
    @if (Model.Mentees.Count() == 0)
    {
        <div class="row">
            <div class="col-6 offset-2">
                <p class="p-large text-center text-danger" style="letter-spacing:1px;">You currently have no mentee assigned to you.</p>
            </div>
        </div>


    }
    else
    {
        <table class="h-30 table table-striped panes">
            <tr class="table-danger">
                <th>
                    FirstName
                </th>
                <th>
                    LastName
                </th>
                <th>
                    Email
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model.Mentees)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.User.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.User.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.User.Email)
                    </td>

                    <td>
                        @Html.ActionLink("Chat", "Chat", new { userId = item.UserId })

                    </td>
                </tr>
            }

        </table>
    }


</div>


